@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-dnsqhf');
	src:url('fonts/icomoon.eot?#iefix-dnsqhf') format('embedded-opentype'),
		url('fonts/icomoon.woff?-dnsqhf') format('woff'),
		url('fonts/icomoon.ttf?-dnsqhf') format('truetype'),
		url('fonts/icomoon.svg?-dnsqhf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stars:before {
	content: "\e60c";
}
.icon-files-txt:before {
	content: "\e60a";
}
.icon-phone:before {
	content: "\e60b";
}
.icon-coment:before {
	content: "\e609";
}
.icon-sgmap-faq:before {
	content: "\e003";
}
.icon-sgmap-comment:before {
	content: "\e007";
}
.icon-sgmap-particulier:before {
	content: "\e004";
}
.icon-sgmap-etoile:before {
	content: "\e005";
}
.icon-sgmap-entreprise:before {
	content: "\e006";
}
.icon-sgmap-agent:before {
	content: "\e008";
}
.icon-sgmap-personnes:before {
	content: "\e009";
}
.icon-sgmap-ok:before {
	content: "\e00a";
}
.icon-sgmap-ampoule:before {
	content: "\e00b";
}
.icon-search:before {
	content: "\e012";
}
.icon-print:before {
	content: "\e00c";
}
.icon-paperplane:before {
	content: "\e00d";
}
.icon-circle-arrow-up:before {
	content: "\e00e";
}
.icon-chevron:before {
	content: "\e00f";
}
.icon-sgmap-download:before {
	content: "\e010";
}
.icon-sgmap-clock:before {
	content: "\e011";
}
.icon-kedge-graduation:before {
	content: "\e000";
}
.icon-sgmap-reglages:before {
	content: "\e001";
}
.icon-sgmap-personnes2:before {
	content: "\e002";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-heart-empty:before {
	content: "\f08a";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-heart:before {
	content: "\f004";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-exclamation-sign:before {
	content: "\f06a";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-play:before {
	content: "\f04b";
}
.icon-sgmap-download2:before {
	content: "\e013";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-unlock-alt:before {
	content: "\f13e";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-lock:before {
	content: "\e608";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-link:before {
	content: "\e600";
}
.icon-article:before {
	content: "\e601";
}
.icon-chart-alt:before {
	content: "\e602";
}
.icon-paperclip:before {
	content: "\e603";
}
.icon-play-alt:before {
	content: "\e604";
}
.icon-camera:before {
	content: "\e605";
}
.icon-exit:before {
	content: "\e606";
}
.icon-target:before {
	content: "\e607";
}
