.firepad-userlist {
  /* default height */
  min-width: 175px;
}

.firepad-userlist {
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: normal;
}

.firepad-userlist-heading {
  padding: 10px 0;
  font-size: 12px;
  font-weight: bold;
}

.firepad-userlist-users {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 38px;
  bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 2px solid #c9c9c9;
}

.firepad-userlist-user {
  position: relative;
  margin: 10px 10px 10px 0;
  border: 1px solid #c9c9c9;
  float: left;
}

.firepad-userlist-color-indicator {
  width: 52px;
  height: 5px;
}

input.firepad-userlist-name-input {
  position: absolute;
  left: 38px;
  top: 0;
  width: 105px;
  height: 20px;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 1px;
}

.firepad-userlist-name-hint {
  position: absolute;
  left: 38px;
  top: 23px;
  width: 300px; /* I'd rather it clip than wrap. */
  font-size: 9px;
  line-height: 11px;
}

.firepad-userlist-name {
  position: absolute;
  top: 2px;
  left: 38px;
  width: 95px;
  font-size: 13px;
}

.firepad-userlist-avatar {
  padding: 3px;
  width: 46px;
  height: 60px;
  background-color: #fff;
}

.firepad-userlist-avatar img {
  display: block;
  margin: 0 auto;
  height: 60px;
}