
/*
font-family:'DIN Next W01 Light';
font-family:'DIN Next W01 Regular';
font-family:'DIN Next W01 Medium';
font-family:'DIN Next W01 Bold';
*/

$fontLight :        'Open Sans', sans-serif;
$fontRegular :      'Open Sans', sans-serif;
$fontMedium :       'Open Sans', sans-serif;
$fontBold :         'Open Sans', sans-serif;

// triangles
// --------------------------------------------------

$bodyColor :        #333333;

// sgmap colors
// --------------------------------------------------

$purple:            #614696;
$red:               #F3085A;
$blue:              #4379C9;
$orange:            #FB6028;

$lightGrey :        #F4F4F4;
$light_Grey_2 :     #EDEDED;
$middleGrey :       #888888;
$greyCC:            #CCCCCC;

$colorSgmap :       $red;
$defautLinkColor :  $blue;

$lightGreen:        #4EC0BE;
$blueNight:         #404759;
$darkblue:          #1F283D;
$blueLight:         #9BA0B3;

$purpleLight:       #baaed4;



// retina.less
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

@mixin at2x($path, $at2x_path , $w: auto, $h: auto) {
  background-image: url($path);

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: url($at2x_path);
    background-size: $w $h;
  }
}



@mixin fontbrand () {
    font-family : $fontRegular;
    letter-spacing: 0.02em;
}

@mixin filterGrey ($valGrey) {
     filter: grayscale($valGrey); 
     -webkit-filter: grayscale($valGrey); 
     -moz-filter: grayscale($valGrey); 
     -ms-filter: grayscale($valGrey); 
     -o-filter: grayscale($valGrey);
}


// triangles
// --------------------------------------------------
@mixin css_triangle($dir, $size, $color) {

    width: 0; 
    height: 0; 

    @if $dir == up {    
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    } @else if $dir == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $dir == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right: $size solid $color;         

    } @else if $dir == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;  

    } @else if $dir == downRight {
        border-bottom: $size solid transparent;
        border-right: ($size*0.7) solid $color;
    } @else if $dir == leftTop {
        border-left: $size solid transparent;
        border-top: ($size*0.7) solid $color;  
    } 
}


// effect-corner-folded
// --------------------------------------------------

@mixin pseudo-element($width: 0, $height: auto, $content: "", $display: block, $position: absolute)
{
    content: $content;
    @if ($position != default)
    {
        position: $position;
    }
    @if ($display != default)
    {
        display: $display;
    }

    @if ($width != auto) {
        width: $width; // Default 0 is for FF3 positioning
    }
    
    @if ($height != auto)
    {
        height: $height;
    }
}


@mixin folded-corner (
    $position: top-right,
    $color: #ddd,
    $background-color: #fff,
    $width: 1em,
    $border-radius: .3em,
    $box-shadow: rgba(0, 0, 0, .3) 0 0 .6em)
{
    position: relative;
    overflow: hidden;

    &::before
    {
        @include pseudo-element;
        border-style: solid;

        @include box-shadow($box-shadow);

        @if ($position == 'top-right')
        {
            top: 0;
            right: 0;
            border-width: 0 $width $width 0;
            border-color: $color $background-color;
            @include border-radius(0 0 0 $border-radius);
        }
        @elseif ($position == 'top-left')
        {
            top: 0;
            left: 0;
            border-width: $width $width 0 0;
            border-color: $background-color $color;
            @include border-radius(0 0 $border-radius 0);
        }
        @elseif ($position == 'bottom-right')
        {
            bottom: 0;
            right: 0;
            border-width: 0 0 $width $width;
            border-color: $background-color $color;
            @include border-radius($border-radius 0 0 0);
        }
        @elseif ($position == 'bottom-left')
        {
            bottom: 0;
            left: 0;
            border-width: $width 0 0 $width;
            border-color: $color $background-color;
            @include border-radius(0 $border-radius 0 0);
        }
    }
}





