/*!
 * Bootstrap v2.2.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Raleway);
@import "../css/icomoon/style.css";
@import "../css/iconic/style.css";

// Core variables and mixins
@import "sass-bootstrap/lib/variables"; // Modify this for custom colors, font-sizes, etc
@import "lns_variables_mixin";

// fonts
//------------------------

/*
@font-face{
font-family:$dinBold;
src:url("font/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix");
src:url("font/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix") format("eot"),url("font/9949035f-6226-4080-a14a-bf7d94ffb1e1.woff") format("woff"),url("font/6241bd09-15c2-485e-9796-9db8d0aa6974.ttf") format("truetype"),url("font/af94da3e-4232-416a-b6bc-f39f85dd5db6.svg#af94da3e-4232-416a-b6bc-f39f85dd5db6") format("svg");
}
@font-face{
font-family:$dinLight;
src:url("font/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
src:url("font/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),url("font/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),url("font/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),url("font/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
}
@font-face{
font-family:$dinMedium;
src:url("font/324dee78-6585-4c13-8ca3-5817cc600d84.eot?#iefix");
src:url("font/324dee78-6585-4c13-8ca3-5817cc600d84.eot?#iefix") format("eot"),url("font/4bf0ead4-e61b-4992-832b-6ff05828d99f.woff") format("woff"),url("font/73713a0b-8f6a-4c4e-b8a8-7cf238e632f6.ttf") format("truetype"),url("font/b90b6bdf-15e2-4544-9fe0-92c79fff0ecd.svg#b90b6bdf-15e2-4544-9fe0-92c79fff0ecd") format("svg");
}
@font-face{
font-family:$dinRegular;
src:url("font/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
src:url("font/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("font/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("font/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("font/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
}
*/

@import "sass-bootstrap/lib/mixins";


// Default
// --------------------------------------------------


// personalisation

@import "sgmap";


