.plus1-widget,
.thematique,
.alert,
.field-name-field-proposition-file,
.top-box,
#header-top-nav,
.nav-tabs,
.footer-container,
#comment-form-wrapper,
#participation-box,
.proposal-links,
.actionbox-container,
aside.span3,
.span3,
#float-header-menu,
#nav-box nav,
#nav-box {
    display: none;
}

.span9 .node.node-proposition #comments h2 {
	font-size: 14px;
}

.span9 .node.node-proposition #comments article {
	border: solid 1px #ccc;
}

.span9 .node.node-proposition .submitted .user-picture {
	height: 40px;
	width: 40px;
}

.span9 .node.node-proposition #comments article .comment-content {
	padding-bottom: 10px;
}


body {
	padding-top: 70px;
}

#proposition-support-widget p {
	max-width: 100%;
}

.submitted {
	border: solid 2px #888;
}

.span9 .node.node-proposition #comments article .submitted {
	border: none;
	border-bottom: dotted 1px #ccc;
}

article.node-proposition.node-full {
	padding: 30px 30px;
	border: solid 1px #ccc;
}

article.node-proposition.node-full h1 {
	font-size: 24px;
	padding: 10px 10px;
	margin-bottom: 20px;
	border-bottom: solid 2px #ccc;
}

.span9 .node.node-proposition .submitted {
	font-size: 14px;
}

header #site-name-and-slogan #site-name {
	max-width: 250px;
}



